* {
    font-family: Arial, serif;
}

body {
    padding: 0;
    margin: 0;
}

.page-wrapper {
    display: flex;
    justify-content: center;
}

.side-wrapper {
    width: calc(100% - 418px);
    margin-left: 418px;
}

.nav-left {
    left: 0;
    position: fixed;
}

.nav-left img {
    margin-left: -55px;
}

.option {
    display: flex;
    align-items: center;
    height: 50px;
    width: 418px;
}
.selected {
    background-color: #0A3470;
}

.selected svg {
    fill: #CECECE;
}

.selected span {
    color: #ffffff;
}

.option svg {
    margin-left: 20px;
}

.option-value {
    color: rgb(10, 52, 112);
    font-weight: normal;
    font-size: 26px;
    margin-left: 17px;
}

.nav-top {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(10, 52, 112, .83);
    width: 100%;
    height: 50px;
    align-items: center;
}

.page-label {
    color: rgb(10, 52, 112);
    font-weight: bold;
    font-size: 26px;
    margin-left: 35px;
}

.select-wrapper {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.wrap {
    margin-left: 25px;
}

.semestr {
    margin-left: 0;
}

.select-box {
    position: relative;
    display: block;
    width: 100px;
    height: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #60666d;
}

#semestr {
    width: 73px;
}
#speciality {
    width: 285px;
}
#department {
    width: 299px;
}
#group {
    width: 97px;
}
#subject {
    width: 203px;
}
#teacher {
    width: 237px;
}
#auditory {
    width: 103px;
}

.btn {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #0A3470;
    font-size: 16px;
    font-weight: bold;
    color: #0A3470;
    margin-top: 20px;

    box-shadow: 0 3px 6px #0A3470;
}

.subgroup {
    margin-top: 20px;
}

.date {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.select-date {
    width: 112px;
    border-style: solid;
    border-color: #0A3470;
    border-width: 1px;
    box-shadow: 0 3px 6px #0A3470;
}

.select-subgroup {
    width: 57px;
    border-style: solid;
    border-width: 1px;
    border-color: #0A3470;
    box-shadow: 0 3px 6px #0A3470;
}

.selector-label {
    font-weight: bold;
    font-size: 16px;
    color: #0A3470;
}

.select-box_current {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(10, 52, 112);
    margin-top: 7px;
    box-shadow: 0 3px 6px #0A3470;
}
.select-box_current:focus + .select-box_list {
    opacity: 1;
    animation-name: none;
}
.select-box_current:focus + .select-box_list .select-box_option {
    cursor: pointer;
}
.select-box_icon {
    position: absolute;
    top: 45%;
    right: 10px;
    width: 20px;
    opacity: 1;
}
.select-box_value {
    width: 100%;
    color: #222937;
    display: flex;
}
.select-box_input {
    display: none;
}
.select-box_input:checked + .select-box_input-text {
    display: block;
}
.select-box_input-text {
    font-weight: bold;
    font-size: 18px;
    color: rgb(10, 52, 112);
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
}
.select-box_list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}
.select-box_option {
    display: block;
    padding: 5px;
    background-color: #fff;
    color: rgb(10, 52, 112);
    font-size: 16px;
    font-weight: bold;
}
.select-box_option:hover, .select-box_option:focus {
    color: #fff;
    background-color: rgb(10, 52, 112);
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}
