img {
  margin-left: -54px;
}

.option {
  height: 68px;
  width: 419px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option svg {
  margin-left: 22px;
}

.option-text {
  color: #0A3470;
  font-size: 26px;
  margin-left: 23px;
}

.option:hover {
  background-color: #ececec;
}

.selected:hover {
  background-color: #0A3470;
}

.selected span {
  color: #ffffff;
}

.selected svg {
  fill: #CECECE;
}

.selected {
  background-color: #0A3470;
}


