.content {
 /* display: flex;
  justify-content: space-between;
  margin-top: 60px; */
  margin-top: 15px;
}

.btn {
  height: 29px;
  width: 237px;
  background-color: #ffffff;
  border: 1px solid #0A3470;
  font-size: 16px;
  font-weight: bold;
  color: #0A3470;
  box-shadow: 0 3px 6px #0A3470;
}

.add-component {
  margin-left: 10px;
}

.table-component {
  margin-left: 40px;
  margin-top: 30px;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

app-navbar {
  left: 0;
  position: fixed;
}

.side-wrapper {
  width: calc(100% - 418px);
  margin-left: 418px;
}

