.left-nav .option:nth-child(6){
    background-color: #425F90;
}
.left-nav .option:nth-child(6) *{
    fill: #FFE6C9;
    color: #FFE6C9;
}

.blue-btn{
    width: 224px;
    height: 34px;
    margin-left: 16px;
    background-color: #1B386D;
    border: 1px solid #1B386D;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}
.white-btn{
    width: 224px;
    height: 34px;
    margin-left: 16px;
    background-color: #FFFFFF;
    border: 1px solid #1B386D;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1B386D;
}
.left-btns-block input{
    width: 130px;
}
.global-controller-event{
    display: flex;
    margin-top: 26px;
}
.right-btns-block{
    position: absolute;
    right: 20px;
}

.option-wrapper{
    display: block;
}
.user-list{
    margin-top: 36px;
}

.user-block{
    display: flex;
    width: auto;
    align-items: center;
}
.user-info-block{
    display: flex;
    margin-top: 22px;
    margin-left: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    width: calc(100% - 60px);
    height: 80px;
}
.user-info-block .user-pic{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 12px 18px 0 12px;
}
.user-block .login{
    width: 180px;
}
.user-block .blocked-events{
    width: 230px;
}
.user-block .blocked-presents{
    width: 240px;
}
.btns-block{
    position: absolute;
    right: 20px;
}
.bottom-data .unlock-btn{
    margin-top: 25px;
    margin-right: 20px;
    float: right;
}
.user-block .label{
    margin-bottom: 12px;
    font-weight: 600;
    color: #222937;
}
.user-block .info{
    color: #5B5B5B;
}
.checkbox-label{
    margin-top: 20px;
}