.btn-group {
  margin-top: 34px;
  margin-left: 37px;
}

.btn {
  height: 29px;
  width: 237px;
  background-color: #ffffff;
  border: 1px solid #0A3470;
  font-size: 16px;
  font-weight: bold;
  color: #0A3470;
}

.second {
  margin-left: 48px;
}
