.btn-group {
  margin-top: 34px;
  margin-left: 87px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.btn {
  height: 29px;
  width: 237px;
  background-color: #ffffff;
  border: 1px solid #0A3470;
  font-size: 16px;
  font-weight: bold;
  color: #0A3470;
  box-shadow: 0 3px 6px #0A3470;
}
