<table class="table table-hover" id="teacher-table">
  <thead class="thead">
    <tr>
      <!-- <th id="id2"></th> -->
      <th scope="col" class="column">Фамилия:</th>
      <th scope="col" class="column">Имя:</th>
      <th scope="col" class="column">Отчество:</th>
      <th scope="col" class="column">Дата рождения:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of _teachers">
      <!-- <td id="id">{{teacher.id}}</td> -->
      <td>{{teacher.secondName}}</td>
      <td>{{teacher.name}}</td>
      <td>{{teacher.lastName}}</td>
      <td>{{teacher.birthday}}</td>
    </tr>
  </tbody>
</table>
